@import url(../cards/__title/cards__title.css);
@import url(../cards/__description/cards__description.css);
@import url(../cards/__image/cards__image.css);
@import url(../cards/__item/cards__item.css);

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
