.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  opacity: .7;
  transition: opacity .4s;
}
