@import url(__title/feynman__title.css);
@import url(__subtitle/feynman__subtitle.css);
@import url(__link/feynman__link.css);
@import url(__img/feynman__img.css);

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
